<template>
    <form class="form my-5">
    <div class="form-group row">
        <label  class="col-sm-12 col-form-label text-left">Name</label>
        <div class="col-sm-12">
        <select class="form-control" >
            <option value=""></option>
        </select>
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-12 col-form-label text-left">Username</label>
        <div class="col-sm-12">
        <input type="text" class="form-control"  placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-12 col-form-label text-left">Password</label>
        <div class="col-sm-12">
        <input type="password" class="form-control"  placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-12 col-form-label text-left">APN</label>
        <div class="col-sm-12">
        <input type="text" class="form-control"  placeholder="">
        </div>
    </div>
   
    <div class="form-group row">
        <label  class="col-sm-12 col-form-label text-left">Security</label>
        <div class="col-sm-12">
        <select class="form-control" >
            <option value="Don't set" selected>Don't set</option>
            <option value="NONE">NONE</option>
            <option value="PAP">PAP</option>
            <option value="CHAP">CHAP</option>
            <option value="PAP or CHAP">PAP or CHAP</option>
        </select>
        </div>
    </div>
    <div class="form-group row mt-5">
        <div class="col-sm-12 d-flex justify-content-around">
            <button type="button" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-primary">Reset</button>
            <button type="button" class="btn btn-primary">Return</button>
        </div>
    </div>
    </form>
</template>

<script>
export default {
  data () {
    return {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import "../assets/style.scss" ;
   .form{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    }
    .form .checkbox {
    font-weight: 400;
    }
    .form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }
    .form .form-control:focus {
    z-index: 2;
    }
    .form-group{
        margin-bottom:.5rem;
    }
    .form label{
        font-size:1.3rem;
    }
    select.form-control:not([size]):not([multiple]) {
        height: auto;
    }
    button{
        width:80px
    }
</style>
