<template>
    <form class="form my-5">
        <table class="table table-light">
            <thead>
                <tr>
                 <th scope="col" colspan="2">Data Statistics</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row"> Current Total Received: </th>
                <td></td>
                </tr>
                <tr>
                <th scope="row">Current Total Sent: </th>
                <td></td>
                </tr>
                <tr>
                <th scope="row">Current Total Used:</th>
                <td></td>
                </tr>

                <tr>
                <th scope="row"> Total Received: </th>
                <td></td>
                </tr>
                <tr>
                <th scope="row">Total Sent: </th>
                <td></td>
                </tr>
                <tr>
                <th scope="row">Total Used:</th>
                <td></td>
                </tr>
            </tbody>
        </table>
  
        <div class="form-group row mt-5">
            <div class="col-sm-12 d-flex justify-content-around">
            <button type="button" class="btn btn-primary">Clear</button>
            <button type="button" class="btn btn-primary">Return</button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
  data () {
    return {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import "../assets/style.scss" ;
   .form{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    }
    .table tbody th, .table td{
        text-align:left;
    }
</style>
