<template>
    <footer class="footer fixed-bottom">
      <div class="container">
        <span class="text-center">2018 &copy;Fine </span>
      </div>
    </footer>
</template>
<script>

export default {
 
};
</script>
<style lang="scss">
    @import "../assets/style.scss" ;
    .footer {
        width: 100%;
        line-height: 40px; 
        background: $fine-bg;
        color:white;
    }
    .footer span{
        display:block;
    }
    
</style>