<template>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <router-link class="navbar-brand" to="/"><img src="../../static/img/logo_color.png"></router-link>
        <a class="nav-item nav-link ml-auto" href="#">Help</a>     
    </nav>
</template>

<script>
export default {
  data () {
    return {
      Logo: 'Fine'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import "../assets/style.scss" ;
    nav{
        background: $fine-bg;
    }
    .navbar{
        padding:0.2rem 1rem;
    }
    .nav-item{
        color:rgba(255, 255, 255,1) !important;
    }
</style>
