<template>
  <div class="container pt-3 pb-5">
    <div class="row">
      <div class="col-sm-3 col-4 my-2" v-for="menu in menus">
        <router-link :to="menu.link">
          <div class="card border-0 px-2">
            <img class="card-img-top rounded-circle" :src="menu.img">
            <div class="card-body">
              <p class="card-text">{{menu.name}}</p>
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      menus : [
        { name: 'SSID', link: 'SSID', img:'static/img/SSID.png' },
        { name: 'APN Setting', link: 'APN', img:'static/img/APN_Settings.png' },
        { name: 'Login Account', link: 'Login', img:'static/img/Login_Account.png' },
        { name: 'System Info', link: '', img:'static/img/System_Info.png' },
        { name: 'Statistics', link: 'DataStatistics', img:'static/img/Statistics.png' },
        { name: 'SMS', link: '', img:'static/img/SMS.png' },
        { name: 'Strong Card', link: '', img:'static/img/Strong_Card.png' },
        { name: 'Factory Reset', link: '', img:'static/img/Factory_Reset.png' },
        { name: 'WAN Setup', link: 'WANsetup', img:'static/img/WAN_Setup.png' },
        { name: 'Network Mode', link: '', img:'static/img/Network_Mode.png' },
        { name: 'Reset', link: '', img:'static/img/Restart.png' },
        { name: 'Data Switch', link: '', img:'static/img/Data_Switch.png' },
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import "../assets/style.scss";
  .rounded-circle{
    border-radius: 0 !important;
  }
  .card{
    background:none;
  }
  a:hover {
    text-decoration: none;
  }
  .card p {
    font-size: 1.2rem;
    color: $fine-bg;
  }
  .card img{
    margin: 0 auto;
    width:100%;
  }
  .card-body{
    padding: .5rem 0;
    text-align:center;
  }
  .card p{font-size: .8rem}
  @media (min-width: 576px) { 
  
    .card img{
      width:110px;
    }
    .card p{font-size: 1.2rem}
    .card-body{
      padding: 1.25rem 0;
      text-align:center;
    }
   }
</style>
