<template>
    <form class="form">
  <div class="form-group row">
    <label  class="col-sm-12 col-form-label text-left">Network SSID</label>
    <div class="col-sm-12">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-12 col-form-label text-left">Security</label>
    <div class="col-sm-12">
      <select class="form-control" >
        <option value="Open">Open</option>
        <option value="WPA-PSK" selected>WPA-PSK</option>
     </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-12 col-form-label text-left">Password</label>
    <div class="col-sm-12">
      <input type="password" class="form-control" placeholder="">
      <small id="passwordHelpBlock" class="form-text text-muted text-left">
        The password must have at least 8 characters.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Show password
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row mt-5">
    <div class="col-sm-12 d-flex justify-content-around">
      <button type="button" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-primary">Reset</button>
      <button type="button" class="btn btn-primary">Return</button>
    </div>
  </div>
</form>
</template>

<script>
export default {
  data () {
    return {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import "../assets/style.scss" ;
   .form{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    }
    .form .checkbox {
    font-weight: 400;
    }
    .form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }
    .form .form-control:focus {
    z-index: 2;
    }
    .form label{
        font-size:1.3rem;
    }
     .form-group{
        margin-bottom:.5rem;
    }
    select.form-control:not([size]):not([multiple]) {
        height: auto;
    }
    button{
        width:80px
    }
</style>
