<template>
    <form class="form">
        <table class="table  table-light">
            <thead>
                <tr>
                 <th scope="col" colspan="2">Current Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row"> current connection type:</th>
                <td></td>
                </tr>
            </tbody>
        </table>

        <table class="table  table-light">
            <thead>
                <tr>
                 <th scope="col">Internet Settings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>
                    <div class="form-group row">
                        <label  class="col-sm-12 col-form-label text-left">Connection Type</label>
                        <div class="col-sm-12">
                        <select class="form-control" >
                            <option value="Static IP(fixed ip)">Static IP(fixed ip)</option>
                            <option value="DHCP(auto config)" selected>DHCP(auto config)</option>
                            <option value="PPPoe(ADSL)">PPPoe(ADSL)</option>
                        </select>
                        </div>
                    </div>
                </td>
                </tr>
                <tr>
                <td>
                    <div class="form-group row mb-0">
                        <div class="col-sm-12 d-flex justify-content-around">
                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary">Reset</button>
                        <button type="button" class="btn btn-primary">Return</button>
                        </div>
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
  
        
    </form>
</template>

<script>
export default {
  data () {
    return {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import "../assets/style.scss" ;
   .form{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    }
    .table tbody th, .table td{
        text-align:left;
    }
</style>
